

body {
  margin: 0;
  background-color: #333;
  --display: flex;
  align-items: center;
  font-size: 1rem;
  --flex-direction: column;
  color: white;
}

.title {
    font-family: "Agustina Regular";
    font-weight: bold;
}

.subtext {
    color: blue;
    margin-bottom: 10px;
}

#footertext {
    font-size: 0.75rem;
}

.scoreboard {
    color: darkgreen;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: -20px;
}
.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 35px);
  grid-template-rows: repeat(var(--size), 35px);
  gap: 4px;
  background-color: #777;
}

.board > * {
  width: 100%;
  height: 100%;
  --display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #BBB;
  user-select: none;
}

.board > [data-status="hidden"] {
  background-color: #BBB;
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: red;
}

.board > [data-status="number"] {
  background-color: none;
}

.board > [data-status="marked"] {
  background-color: yellow;
}

a {
    color: lightgreen;
}
