body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.tictacboard {
  display: grid;
  grid-template-columns: repeat(3, 115px); /* 3 columns of 100px each */
  grid-template-rows: repeat(3, 100px); /* 3 rows of 100px each */
}

.square {
  width: 100px; /* Increase the width */
  height: 100px; /* Increase the height */
  background: #fff;
  border: 1px solid #999;
  display: flex; /* Use Flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: 48px; /* Increase the font size */
  font-weight: bold;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 12px;
}
